<ion-header>
  <ion-toolbar>

    <ion-buttons  slot="start">
      <ion-button fill="clear" routerLink="" routerDirection="forward">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons >
    
    <ion-title>

        <ion-searchbar fill="clear" [(ngModel)]="search" name="search" placeholder="{{'Search'|translate}}" (ionInput)="onChangeKeyword($event)">
        </ion-searchbar>

    </ion-title>

    <ion-buttons slot="end">
      <ion-button fill="clear" routerLink="/cart" routerDirection="forward">
        <ion-icon name="basket"></ion-icon>
        <ion-badge color="secondary">{{this.product.getCartArray().length}}</ion-badge>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" (ionScroll)="onScroll($event)">

  <app-sliding-tabs [type]="'image'"></app-sliding-tabs>
  
</ion-content>
<ion-fab vertical="bottom" horizontal="end" *ngIf="scrollTopButton">
  <ion-fab-button color="secondary" (click)="scrollToTop()">
    <ion-icon name="arrow-round-up"></ion-icon>
  </ion-fab-button>
</ion-fab>